/* Videos css Here */




/* Mobile Devices responsiveness */
@media (min-width: 320px) and (max-width: 374px) {
	div.card {
		zoom: 70%;
	} 
	/* New Css */
	 .overflow_container {
		width: inherit;
		height: inherit;
		overflow-y: scroll !important;
		}
	
		button.open-button {
			width: 70px !important;
			height: 70px !important;
			background-color:#58508D !important;
			padding: 10px 16px;
			border-radius: 80px !important;
			font-size: 24px;
			line-height: 1.33;
		}
		button.open-button img {
			width: 32px !important;
			height: 36px !important;
			line-height: 1.33;
			
		} 
		.position_chat {
			position: fixed;
			top:0;
			bottom: 120px;
			display: none;
			z-index: 9998;
			
		}
		.btn--primary {
			padding: 5px 5px !important;
			z-index: 9999 !important;
		}
		.btn--inside {
			margin-left: -26px !important;
		}
		#chat_widget {
			zoom: 100% !important;
			height: 85vh !important;
			width: 100% !important;
		}
		#chat_widget .card-header {
			border-radius: 0 !important;
		}
		.form__field {
			width: 180px !important;
		}
	
		.card ul.list-group li.list-group-item .row .col-10 p {
			font-size: 11px !important;
			color: #000;
			/* padding: 5px; */
		}
		/* New Css Ends here */
	
	.ml-100 {
		margin-left: 60px;
	}
	
	.p-viewport-devices {
		padding-left: 28px !important;
		/* margin-top: 0; */
		/* margin-left: 0; */
		/* padding-right: 10px !important; */
		/* padding-bottom: 0; */
	}

	#main_card .w-h {
		width: 40px;
		height: 40px;
	}
	
	#main_card .card-1 {
		margin-top: 20px;
	}
	#main_card .card-2 {
		margin-top: 10px;
	}

	#main_card .w-h2 {
		width: 18px;
		/* margin-right: 10px; */
		height: 25px;
		cursor: pointer;
	}
	#main_card .w-h3 {
		width: 70px;
		/* height: 25px; */
		padding-right: 5px;
		padding-left: 0;
		cursor: pointer;
	}
	#main_card .card h6 {
		color: #000;
		font-size: 13px;
		font-weight: 800;
		cursor: pointer;
	}
	#main_card .card p {
		font-size: 13px;
		font-weight: 400;
	}
	#main_card .card {
		border-radius: 15px;
		z-index: -1 !important;
	}
	.content {
		padding-right: 20px;
		padding-left: 20px;
	}
	.custom_yourprojects {
		margin-left: 20px;
		font-weight: 800;
		font-size: 16px;
		margin-top: 20px;
		
	}
	.custom_yourprojects-2 {
		margin-left: 0px !important;
		padding-left: 0 !important;
		font-weight: 800;
		font-size: 16px;
		margin-top: 10px;
	}

	canvas#myChart-1 {
		width: 100%;
		height: 200px !important;
		padding: 13px;
	}
	canvas#myChart-2 {
		width: 100%;
		height: 200px !important;
		padding: 13px;
	}
	#chart_card p {
		position: relative;
		top: 40px;
		left: 35px;
		font-weight: 600;
		font-size: 11px;
		color: #58508D;
	}
	.shadow_custom {
		box-shadow: 0.1rem 0.1rem 0.1rem 0.1px rgba(0, 0, 0, 0.15) !important;
	}
	.progress {
		width: 100%;
	}
	.progress_scale {
		width: 90%;
		margin-left: auto;
	}
	.progress_span {
		position: relative;
		top: 0px;
		font-size: 10px;
		font-weight: 700;
	}
	.padding_Activity {
		padding: 0 !important;
		margin: 0;
	}
	.text_activity {
		color: #58508D ! important;
	}
	#carousal_cards .card-title {
		font-size: 14px;
		font-weight: 600;
		color: #000;
	}
	.owl-theme .owl-nav.disabled + .owl-dots {
		/* margin-top: 10px; */
		display: none !important;
	}
	#carousal_cards .card-text {
		color: #000;
	}
	#carousal_cards .card-body {
		background-color: #FAF7F5;
	}
	#exercises_container p{
		font-size: 10px;
		color: #000;
	}
	#exercises_container img{
		width: 50px;
		height: 50px;
		font-weight: 600;
	}
	#exercises_container h6{
		font-size: 12px;
		font-weight: 700;
		margin-top: 9px;
	}
	#exercises_container {
		border-radius: 10px;
		/* box-shadow: 2px 2px 2px #333; */
	}
	/*+++++++++++++++ Ends here ++++++++++++++++++++++ */
	.d-hidden-425 {
		display: none;
	}
	.d-xxl-vis {
		display: block !important;
	}
	.d-xxl-hidd {
		display: none !important;
	}
	#recipe_container h4.heading {
		font-size: 22px;
		font-weight: 800;
	}
	.searchButton {
		position: relative;
		right: 0;
		top: 5px;
		color: white;
		float: right;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		background: #ffa600;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 0.4s;
		border: none;
		/* z-index: 1 !important;  */
	}
	.searchInput {
		height: 22px;
		display: inline !important;
		/* z-index: -10 !important;  */
		margin-right: -15px;
		border: none;
		background: none;
		outline: none;
		/* float: left; */
		padding: 0;
		color: white;
		font-size: 0.6rem;
		transition: 0.4s;
		line-height: 40px;
		width: 50px;
		border-radius: 40px;
		background: #fff;
	}
	#recipe_container .topBtn {
		color: #fff;
		font-size: 11px;
		font-weight: 700;
		padding: 2px;
		width: 160px;
		border-radius: 5px;
		background-color: #d3d3d3;
	}
	#details_container h6 {
		font-size: 13px;
		font-weight: 800;
		color: #000;
	}
	#details_container p {
		font-size: 11px;
		font-weight: 800;
		color: #58508d;
	}
	#social_btn {
		position: absolute;
		right: 70px;
		top: 0;
		background-color: #d3d3d3;
		padding: 3px;
		height: 30px;
		border-radius: 20px;
		width: 100px;
	}
	#scroll-container {
		height: 70vh;
		overflow-y: scroll;
	}
}
@media (min-width: 375px) and (max-width: 424px) {
	div.card {
		zoom: 70%;
	}
	/* New Css */
	.overflow_container {
		width: inherit;
		height: inherit;
		overflow-y: scroll !important;
		}
	
		button.open-button {
			width: 70px !important;
			height: 70px !important;
			background-color:#58508D !important;
			padding: 10px 16px;
			border-radius: 80px !important;
			font-size: 24px;
			line-height: 1.33;
		}
		button.open-button img {
			width: 32px !important;
			height: 36px !important;
			line-height: 1.33;
			
		} 
		.position_chat {
			position: fixed;
			top: 0;
			bottom: 120px;
			display: none;
			z-index: 9998;
			
		}
		.btn--primary {
			padding: 5px 5px !important;
			z-index: 9999 !important;
		}
		.btn--inside {
			margin-left: -26px;
		}
		#chat_widget {
			zoom: 100% !important;
			height: 85vh;
			width: 100% !important;
		}
		#chat_widget .card-header {
			border-radius: 0 !important;
		}
		.form__field {
			width: 220px !important;
		}
	
		.card ul.list-group li.list-group-item .row .col-10 p {
			font-size: 12px;
			color: #000;
		}
		/* New Css Ends here */
	
	
	.ml-100 {
		margin-left: 70px;
	}
	
	.p-viewport-devices {
		padding-left: 28px !important;
		/* margin-top: 0; */
		/* margin-left: 0; */
		/* padding-right: 10px !important; */
		/* padding-bottom: 0; */
	}

	#main_card .w-h {
		width: 40px;
		height: 40px;
	}
	
	#main_card .card-1 {
		margin-top: 20px;
	}
	#main_card .card-2 {
		margin-top: 10px;
	}

	#main_card .w-h2 {
		width: 18px;
		/* margin-right: 10px; */
		height: 25px;
		cursor: pointer;
	}
	#main_card .w-h3 {
		width: 90px;
		/* height: 25px; */
		padding-right: 12px;
		cursor: pointer;
	}
	#main_card .card h6 {
		color: #000;
		font-size: 18px;
		font-weight: 800;
		cursor: pointer;
	}
	#main_card .card p {
		font-size: 13px;
		font-weight: 400;
	}
	#main_card .card {
		border-radius: 15px;
		z-index: -1 !important;
	}
	.content {
		padding-right: 20px;
		padding-left: 20px;
	}
	.custom_yourprojects {
		margin-left: 20px;
		font-weight: 800;
		font-size: 16px;
		margin-top: 20px;
		
	}
	.custom_yourprojects-2 {
		margin-left: 0px !important;
		padding-left: 0 !important;
		font-weight: 800;
		font-size: 16px;
		margin-top: 10px;
	}

	canvas#myChart-1 {
		width: 100%;
		height: 200px !important;
		padding: 13px;
	}
	canvas#myChart-2 {
		width: 100%;
		height: 200px !important;
		padding: 13px;
	}
	#chart_card p {
		position: relative;
		top: 40px;
		left: 35px;
		font-weight: 600;
		font-size: 11px;
		color: #58508D;
	}
	.shadow_custom {
		box-shadow: 0.1rem 0.1rem 0.1rem 0.1px rgba(0, 0, 0, 0.15) !important;
	}
	.progress {
		width: 100%;
	}
	.progress_scale {
		width: 90%;
		margin-left: auto;
	}
	.progress_span {
		position: relative;
		top: 20px;
		font-size: 10px;
		font-weight: 700;
	}
	.text_activity {
		color: #58508D ! important;
	}
	#carousal_cards .card-title {
		font-size: 14px;
		font-weight: 600;
		color: #000;
	}
	.owl-theme .owl-nav.disabled + .owl-dots {
		/* margin-top: 10px; */
		display: none !important;
	}
	#carousal_cards .card-text {
		color: #000;
	}
	#carousal_cards .card-body {
		background-color: #FAF7F5;
	}
	#exercises_container p{
		font-size: 10px;
		color: #000;
	}
	#exercises_container img{
		width: 50px;
		height: 50px;
		font-weight: 600;
	}
	#exercises_container h6{
		font-size: 12px;
		font-weight: 700;
		margin-top: 9px;
	}
	#exercises_container {
		border-radius: 10px;
		/* box-shadow: 2px 2px 2px #333; */
	}
	/*+++++++++++++++ Ends here ++++++++++++++++++++++ */
	.d-hidden-425 {
		display: none;
	}
	.d-xxl-vis {
		display: block !important;
	}
	.d-xxl-hidd {
		display: none !important;
	}
	/* .container {
		max-width: 1350px;
	} */
	#recipe_container h4.heading {
		font-size: 22px;
		font-weight: 800;
	}
	.searchButton {
		position: relative;
		right: 0;
		top: 5px;
		color: white;
		float: right;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		background: #ffa600;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 0.4s;
		border: none;
		/* z-index: 1 !important;  */
	}
	.searchInput {
		height: 22px;
		display: inline !important;
		/* z-index: -10 !important;  */
		margin-right: -25px;
		border: none;
		background: none;
		outline: none;
		/* float: left; */
		padding: 0;
		color: white;
		font-size: 0.6rem;
		transition: 0.4s;
		line-height: 40px;
		width: 80px;
		border-radius: 40px;
		background: #fff;
	}
	#recipe_container .topBtn {
		color: #fff;
		font-size: 11px;
		font-weight: 700;
		padding: 2px;
		width: 160px;
		border-radius: 5px;
		background-color: #d3d3d3;
	}
	#details_container h6 {
		font-size: 13px;
		font-weight: 800;
		color: #000;
	}
	#details_container p {
		font-size: 11px;
		font-weight: 800;
		color: #58508d;
	}
	#social_btn {
		position: absolute;
		right: 70px;
		top: 0;
		background-color: #d3d3d3;
		padding: 3px;
		height: 30px;
		border-radius: 20px;
		width: 100px;
	}
	#scroll-container {
		height: 70vh;
		overflow-y: scroll;
	}
}
@media (min-width: 425px) and (max-width: 575px){
	/* New Css */
	.overflow_container {
		width: inherit;
		height: inherit;
		overflow-y: scroll !important;
		}
	
		button.open-button {
			width: 70px !important;
			height: 70px !important;
			background-color:#58508D !important;
			padding: 10px 16px;
			border-radius: 80px !important;
			font-size: 24px;
			line-height: 1.33;
		}
		button.open-button img {
			width: 32px !important;
			height: 36px !important;
			line-height: 1.33;
			
		} 
		.position_chat {
			position: fixed;
			top: 0;
			bottom: 120px;
			display: none;
			z-index: 9998;
			
		}
		.btn--primary {
			padding: 5px 5px !important;
			z-index: 9999 !important;
		}
		.btn--inside {
			margin-left: -50px;
		}
		#chat_widget {
			zoom: 100% !important;
			height: 85vh;
			width: 100% !important;
		}
		#chat_widget .card-header {
			border-radius: 0 !important;
		}
		.form__field {
			width: 280px !important;
		}
	
		.card ul.list-group li.list-group-item .row .col-10 p {
			font-size: 12px;
			color: #000;
		}
		/* New Css Ends here */
	
	.ml-100 {
		margin-left: 70px;
	}
	
	.p-viewport-devices {
		padding-left: 28px !important;
		/* margin-top: 0; */
		/* margin-left: 0; */
		/* padding-right: 10px !important; */
		/* padding-bottom: 0; */
	}

	#main_card .w-h {
		width: 50px;
		height: 50px;
	}
	
	#main_card .card-1 {
		margin-top: 20px;
	}
	#main_card .card-2 {
		margin-top: 10px;
	}

	#main_card .w-h2 {
		width: 18px;
		/* margin-right: 10px; */
		height: 25px;
		cursor: pointer;
	}
	#main_card .w-h3 {
		width: 65px;
		/* height: 25px; */
		padding-right: 12px;
		cursor: pointer;
	}
	#main_card .card h6 {
		color: #000;
		font-size: 18px;
		font-weight: 800;
		cursor: pointer;
	}
	#main_card .card p {
		font-size: 13px;
		font-weight: 400;
	}
	#main_card .card {
		border-radius: 15px;
	}
	.content {
		padding-right: 20px;
		padding-left: 20px;
	}
	.custom_yourprojects {
		margin-left: 20px;
		font-weight: 800;
		font-size: 16px;
		margin-top: 20px;
		
	}
	.custom_yourprojects-2 {
		margin-left: 0px !important;
		padding-left: 0 !important;
		font-weight: 800;
		font-size: 16px;
		margin-top: 10px;
	}

	canvas#myChart-1 {
		width: 100%;
		height: 200px !important;
		padding: 13px;
	}
	canvas#myChart-2 {
		width: 100%;
		height: 200px !important;
		padding: 13px;
	}
	#chart_card p {
		position: relative;
		top: 40px;
		left: 35px;
		font-weight: 600;
		font-size: 11px;
		color: #58508D;
	}
	.shadow_custom {
		box-shadow: 0.1rem 0.1rem 0.1rem 0.1px rgba(0, 0, 0, 0.15) !important;
	}
	.progress {
		width: 100%;
	}
	.progress_scale {
		width: 90%;
		margin-left: auto;
	}
	.progress_span {
		position: relative;
		top: 20px;
		font-size: 13px;
		font-weight: 700;
	}
	.text_activity {
		color: #58508D ! important;
	}
	#carousal_cards .card-title {
		font-size: 14px;
		font-weight: 600;
		color: #000;
	}
	.owl-theme .owl-nav.disabled + .owl-dots {
		/* margin-top: 10px; */
		display: none !important;
	}
	#carousal_cards .card-text {
		color: #000;
	}
	#carousal_cards .card-body {
		background-color: #FAF7F5;
	}
	#exercises_container p{
		font-size: 10px;
		color: #000;
	}
	#exercises_container img{
		width: 50px;
		height: 50px;
		font-weight: 600;
	}
	#exercises_container h6{
		font-size: 12px;
		font-weight: 700;
		margin-top: 9px;
	}
	#exercises_container {
		border-radius: 10px;
		/* box-shadow: 2px 2px 2px #333; */
	}
	/*+++++++++++++++ Ends here ++++++++++++++++++++++ */
	.d-hidden-425 {
		display: none;
	}
	.d-xxl-vis {
		display: block !important;
	}
	.d-xxl-hidd {
		display: none !important;
	}
	/* .container {
		max-width: 1350px;
	} */
	#recipe_container h4.heading {
		font-size: 22px;
		font-weight: 800;
	}
	.searchButton {
		position: relative;
		right: 0;
		color: white;
		float: right;
		width: 35px;
		height: 35px;
		border-radius: 50%;
		background: #ffa600;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 0.4s;
		border: none;
		/* z-index: 1 !important;  */
	}
	.searchInput {
		height: 22px;
		display: inline !important;
		/* z-index: -10 !important;  */
		margin-right: -25px;
		border: none;
		background: none;
		outline: none;
		/* float: left; */
		padding: 0;
		color: white;
		font-size: 0.6rem;
		transition: 0.4s;
		line-height: 40px;
		width: 120px;
		border-radius: 40px;
		background: #fff;
	}
	#recipe_container .topBtn {
		color: #fff;
		font-size: 11px;
		font-weight: 700;
		padding: 2px;
		width: 160px;
		border-radius: 5px;
		background-color: #d3d3d3;
	}
	#details_container h6 {
		font-size: 13px;
		font-weight: 800;
		color: #000;
	}
	#details_container p {
		font-size: 11px;
		font-weight: 800;
		color: #58508d;
	}
	#social_btn {
		position: absolute;
		right: 70px;
		top: 0;
		background-color: #d3d3d3;
		padding: 3px;
		height: 30px;
		border-radius: 20px;
		width: 100px;
	}
	#scroll-container {
		height: 70vh;
		overflow-y: scroll;
	}
}
/* Small devices (landscape phones, 576px and up) sm */
@media (min-width: 576px) and (max-width: 767px) {
	div.card {
		zoom: 70%;
	}
	/* New Css */
    .overflow_container {
        width: inherit;
        height: inherit;
        overflow-y: scroll !important;
        }

    button.open-button {
        width: 70px !important;
        height: 70px !important;
        background-color:#58508D !important;
        padding: 10px 16px;
        border-radius: 80px !important;
        font-size: 24px;
        line-height: 1.33;
    }
    button.open-button img {
        width: 32px !important;
        height: 36px !important;
        line-height: 1.33;
        
    } 
    .position_chat {
        position: fixed;
        bottom: 290px;
        right: 28px;
        display: none;
        z-index: 9999;
        
    }
    #chat_widget {
        zoom: 80% !important;
        height: 70vh !important;
        width: 420px !important;
    }
    .form__field {
        width: 260px;
    }
    /* New Css Ends here */
	.ml-100 {
		margin-left: 70px;
	}	
	.p-viewport-devices {
		padding-left: 28px !important;
	}

	#main_card .w-h {
		width: 50px;
		height: 50px;
	}

	#main_card .w-h2 {
		width: 18px;
		/* margin-right: 10px; */
		height: 25px;
		cursor: pointer;
	}
	#main_card .w-h3 {
		width: 95px;
		/* height: 25px; */
		padding-right: 12px;
		cursor: pointer;
	}
	#main_card .card h6 {
		color: #000;
		font-size: 18px;
		font-weight: 800;
		cursor: pointer;
	}
	#main_card .card p {
		font-size: 13px;
		font-weight: 400;
	}
	#main_card .card {
		border-radius: 15px;
	}
	.custom_yourprojects {
		margin-left: 20px;
		font-weight: 800;
		font-size: 16px;
	}

	canvas#myChart-1 {
		width: 100%;
		height: 200px !important;
		padding: 13px;
	}
	canvas#myChart-2 {
		width: 100%;
		height: 200px !important;
		padding: 13px;
	}
	#chart_card p {
		position: relative;
		top: 40px;
		left: 35px;
		font-weight: 600;
		font-size: 11px;
		color: #58508D;
	}
	.shadow_custom {
		box-shadow: 0.1rem 0.1rem 0.1rem 0.1px rgba(0, 0, 0, 0.15) !important;
	}
	.progress {
		width: 100%;
	}
	.progress_scale {
		width: 90%;
		margin-left: auto;
	}
	.progress_span {
		position: relative;
		top: 20px;
		font-size: 13px;
		font-weight: 700;
	}
	.text_activity {
		color: #58508D ! important;
	}
	#carousal_cards .card-title {
		font-size: 14px;
		font-weight: 600;
		color: #000;
	}
	.owl-theme .owl-nav.disabled + .owl-dots {
		/* margin-top: 10px; */
		display: none !important;
	}
	#carousal_cards .card-text {
		color: #000;
	}
	#carousal_cards .card-body {
		background-color: #FAF7F5;
	}
	#exercises_container p{
		font-size: 10px;
		color: #000;
	}
	#exercises_container img{
		width: 80px;
		height: 80px;
		font-weight: 600;
	}
	#exercises_container h6{
		font-size: 12px;
		font-weight: 700;
		margin-top: 9px;
	}
	#exercises_container {
		border-radius: 10px;
		/* box-shadow: 2px 2px 2px #333; */
	}
	/*+++++++++++++++ Ends here ++++++++++++++++++++++ */
	.d-hidden-425 {
		display: none;
	}
	.d-xxl-vis {
		display: block !important;
	}
	.d-xxl-hidd {
		display: none !important;
	}
	#recipe_container h4.heading {
		font-size: 22px;
		font-weight: 800;
	}
	.searchButton {
		position: relative;
		right: 0;
		color: white;
		float: right;
		width: 35px;
		height: 35px;
		border-radius: 50%;
		background: #ffa600;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 0.4s;
		border: none;
		/* z-index: 1 !important;  */
	}
	.searchInput {
		height: 22px;
		display: inline !important;
		/* z-index: -10 !important;  */
		margin-right: -25px;
		border: none;
		background: none;
		outline: none;
		/* float: left; */
		padding: 0;
		color: white;
		font-size: 0.6rem;
		transition: 0.4s;
		line-height: 40px;
		width: 120px;
		border-radius: 40px;
		background: #fff;
	}
	#recipe_container .topBtn {
		color: #fff;
		font-size: 11px;
		font-weight: 700;
		padding: 2px;
		width: 160px;
		border-radius: 5px;
		background-color: #d3d3d3;
	}
	#details_container h6 {
		font-size: 13px;
		font-weight: 800;
		color: #000;
	}
	#details_container p {
		font-size: 11px;
		font-weight: 800;
		color: #58508d;
	}
	#social_btn {
		position: absolute;
		right: 70px;
		top: 0;
		background-color: #d3d3d3;
		padding: 3px;
		height: 30px;
		border-radius: 20px;
		width: 100px;
	}
	#scroll-container {
		height: 70vh;
		overflow-y: scroll;
	}
}

/* Medium devices (tablets, 768px and up) md */
@media (min-width: 768px) and (max-width: 991px) {
	/* New Css */
	.overflow_container {
		width: inherit;
		height: inherit;
		overflow-y: scroll !important;
	}

	button.open-button {
		width: 70px !important;
		height: 70px !important;
		background-color:#58508D !important;
		padding: 10px 16px;
		border-radius: 80px !important;
		font-size: 24px;
		line-height: 1.33;
	}
	button.open-button img {
		width: 32px !important;
		height: 36px !important;
		line-height: 1.33;
		
	} 
	.position_chat {
		position: fixed;
		bottom: 270px;
		right: 28px;
		display: none;
		z-index: 9999;
		
	}
	#chat_widget {
		zoom: 80% !important;
		height: 70vh !important;
		width: 420px !important;
	}
	.form__field {
		width: 250px !important;
	}
	/* New Css Ends here */
	
	.ml-100 {
		margin-left: 80px;
	}
	
	.p-viewport-devices {
		padding-left: 48px !important;
		/* margin-top: 0; */
		/* margin-left: 0; */
		/* padding-right: 10px !important; */
		/* padding-bottom: 0; */
	}

	#main_card .w-h {
		width: 50px;
		height: 50px;
	}

	#main_card .w-h2 {
		width: 18px;
		/* margin-right: 10px; */
		height: 25px;
		cursor: pointer;
	}
	#main_card .w-h3 {
		width: 120px;
		/* height: 25px; */
		padding-right: 12px;
		cursor: pointer;
	}
	#main_card .card h6 {
		color: #000;
		font-size: 18px;
		font-weight: 800;
		cursor: pointer;
	}
	#main_card .card p {
		font-size: 13px;
		font-weight: 400;
	}
	#main_card .card {
		border-radius: 15px;
	}
	.custom_yourprojects {
		margin-left: 20px;
		font-weight: 800;
		font-size: 16px;
	}

	canvas#myChart-1 {
		width: 100%;
		height: 200px !important;
		padding: 13px;
	}
	canvas#myChart-2 {
		width: 100%;
		height: 200px !important;
		padding: 13px;
	}
	#chart_card p {
		position: relative;
		top: 40px;
		left: 35px;
		font-weight: 600;
		font-size: 11px;
		color: #58508D;
	}
	.shadow_custom {
		box-shadow: 0.1rem 0.1rem 0.1rem 0.1px rgba(0, 0, 0, 0.15) !important;
	}
	.progress {
		width: 100%;
	}
	.progress_scale {
		width: 90%;
		margin-left: auto;
	}
	.progress_span {
		position: relative;
		top: 20px;
		font-size: 13px;
		font-weight: 700;
	}
	.text_activity {
		color: #58508D ! important;
	}
	#carousal_cards .card-title {
		font-size: 14px;
		font-weight: 600;
		color: #000;
	}
	.owl-theme .owl-nav.disabled + .owl-dots {
		/* margin-top: 10px; */
		display: none !important;
	}
	#carousal_cards .card-text {
		color: #000;
	}
	#carousal_cards .card-body {
		background-color: #FAF7F5;
	}
	#exercises_container p{
		font-size: 10px;
		color: #000;
	}
	#exercises_container img{
		width: 80px;
		height: 80px;
		font-weight: 600;
	}
	#exercises_container h6{
		font-size: 12px;
		font-weight: 700;
		margin-top: 9px;
	}
	#exercises_container {
		border-radius: 10px;
		/* box-shadow: 2px 2px 2px #333; */
	}
	/*+++++++++++++++ Ends here ++++++++++++++++++++++ */
	.d-hidden-425 {
		display: none;
	}
	.d-xxl-vis {
		display: block !important;
	}
	.d-xxl-hidd {
		display: none !important;
	}
	/* .container {
		max-width: 1350px;
	} */
	div.card {
		zoom: 70% !important;
	} 
	#recipe_container h4.heading {
		font-size: 22px;
		font-weight: 800;
	}
	.searchButton {
		position: relative;
		right: 0;
		color: white;
		float: right;
		width: 35px;
		height: 35px;
		border-radius: 50%;
		background: #ffa600;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 0.4s;
		border: none;
		/* z-index: 1 !important;  */
	}
	.searchInput {
		height: 22px;
		display: inline !important;
		/* z-index: -10 !important;  */
		margin-right: -25px;
		border: none;
		background: none;
		outline: none;
		/* float: left; */
		padding: 0;
		color: white;
		font-size: 0.6rem;
		transition: 0.4s;
		line-height: 40px;
		width: 120px;
		border-radius: 40px;
		background: #fff;
	}
	#recipe_container .topBtn {
		color: #fff;
		font-size: 11px;
		font-weight: 700;
		padding: 2px;
		width: 160px;
		border-radius: 5px;
		background-color: #d3d3d3;
	}
	#details_container h6 {
		font-size: 13px;
		font-weight: 800;
		color: #000;
	}
	#details_container p {
		font-size: 11px;
		font-weight: 800;
		color: #58508d;
	}
	#social_btn {
		position: absolute;
		right: 70px;
		top: 0;
		background-color: #d3d3d3;
		padding: 3px;
		height: 30px;
		border-radius: 20px;
		width: 100px;
	}
	#scroll-container {
		height: 70vh;
		overflow-y: scroll;
	}
}

/* Large devices (desktops, 992px and up) lg */
@media (min-width: 992px) and (max-width: 1199px){
	/* New Css */
	.overflow_container {
		width: inherit;
		height: inherit;
		overflow-y: scroll !important;
		}
	
		button.open-button {
			width: 70px !important;
			height: 70px !important;
			background-color:#58508D !important;
			padding: 10px 16px;
			border-radius: 80px !important;
			font-size: 24px;
			line-height: 1.33;
		}
		button.open-button img {
			width: 32px !important;
			height: 36px !important;
			line-height: 1.33;
			
		} 
		.position_chat {
			position: fixed;
			bottom: 270px;
			right: 28px;
			display: none;
			z-index: 9999;
			
		}
		#chat_widget {
			zoom: 80% !important;
			height: 70vh !important;
			width: 420px !important;
		}
		.form__field {
			width: 250px !important;
		}
		/* New Css Ends here */
	.ml-100 {
		margin-left: 80px;
	}
	.card-height-lg {
		height: 350px !important;
	}
	.p-viewport-devices {
		padding-left: 48px !important;
		/* margin-top: 0; */
		/* margin-left: 0; */
		padding-right: 10px !important;
		/* padding-bottom: 0; */
	}

	#main_card .w-h {
		width: 50px;
		height: 50px;
	}

	#main_card .w-h2 {
		width: 18px;
		height: 25px;
		cursor: pointer;
	}
	#main_card .w-h3 {
		width: 80px;
		/* height: 25px; */
		padding-right: 12px;
		cursor: pointer;
	}
	#main_card .card h6 {
		color: #000;
		font-size: 18px;
		font-weight: 800;
		cursor: pointer;
	}
	#main_card .card p {
		font-size: 13px;
		font-weight: 400;
	}
	#main_card .card {
		border-radius: 15px;
	}
	.custom_yourprojects {
		margin-left: 20px;
		font-weight: 800;
		font-size: 16px;
	}

	canvas#myChart-1 {
		width: 100%;
		height: 200px !important;
		padding: 13px;
	}
	canvas#myChart-2 {
		width: 100%;
		height: 200px !important;
		padding: 13px;
	}
	#chart_card p {
		position: relative;
		top: 40px;
		left: 35px;
		font-weight: 600;
		font-size: 11px;
		color: #58508D;
	}
	.shadow_custom {
		box-shadow: 0.1rem 0.1rem 0.1rem 0.1px rgba(0, 0, 0, 0.15) !important;
	}
	.progress {
		width: 100%;
	}
	.progress_scale {
		width: 90%;
		margin-left: auto;
	}
	.progress_span {
		position: relative;
		top: 20px;
		font-size: 13px;
		font-weight: 700;
	}
	.text_activity {
		color: #58508D ! important;
	}
	#carousal_cards .card-title {
		font-size: 14px;
		font-weight: 600;
		color: #000;
	}
	.owl-theme .owl-nav.disabled + .owl-dots {
		/* margin-top: 10px; */
		display: none !important;
	}
	#carousal_cards .card-text {
		color: #000;
	}
	#carousal_cards .card-body {
		background-color: #FAF7F5;
	}
	#exercises_container p{
		font-size: 10px;
		color: #000;
	}
	#exercises_container img{
		width: 42px;
		height: 42px;
		font-weight: 600;
	}
	#exercises_container h6{
		font-size: 12px;
		font-weight: 700;
		margin-top: 9px;
	}
	#exercises_container {
		border-radius: 10px;
		/* box-shadow: 2px 2px 2px #333; */
	}
	
	/*+++++++++++++++ Ends here ++++++++++++++++++++++ */
	.d-hidden-425 {
		display: none;
	}
	.d-xxl-vis {
		display: block !important;
	}
	.d-xxl-hidd {
		display: none !important;
	}
	div.card {
		zoom: 70% !important;
	} 
	#recipe_container h4.heading {
		font-size: 22px;
		font-weight: 800;
	}
	.searchButton {
		position: relative;
		right: 0;
		color: white;
		float: right;
		width: 35px;
		height: 35px;
		border-radius: 50%;
		background: #ffa600;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 0.4s;
		border: none;
		/* z-index: 1 !important;  */
	}
	.searchInput {
		height: 22px;
		/* z-index: -10 !important;  */
		margin-right: -25px;
		border: none;
		background: none;
		outline: none;
		/* float: left; */
		padding: 0;
		color: white;
		font-size: 0.6rem;
		transition: 0.4s;
		line-height: 40px;
		width: 120px;
		border-radius: 40px;
		background: #fff;
	}
	#recipe_container .topBtn {
		color: #fff;
		font-size: 11px;
		font-weight: 700;
		padding: 2px;
		width: 160px;
		border-radius: 5px;
		background-color: #d3d3d3;
	}
	#details_container h6 {
		font-size: 13px;
		font-weight: 800;
		color: #000;
	}
	#details_container p {
		font-size: 11px;
		font-weight: 800;
		color: #58508d;
	}
	#social_btn {
		position: absolute;
		right: 70px;
		top: 0;
		background-color: #d3d3d3;
		padding: 3px;
		height: 30px;
		border-radius: 20px;
		width: 100px;
	}
	#scroll-container {
		height: 70vh;
		overflow-y: scroll;
	}

}

/* Extra large devices (large desktops, 1200px and up) xl */
@media (min-width: 1200px) and (max-width: 1599px) {
	/* New Css */
    .overflow_container {
        width: inherit;
        height: inherit;
        overflow-y: scroll !important;
    }
    
    button.open-button {
		width: 70px !important;
        height: 70px !important;
        background-color:#58508D !important;
        padding: 10px 16px;
        border-radius: 80px !important;
        font-size: 24px;
        line-height: 1.33;
    }
    button.open-button img {
		width: 32px !important;
        height: 36px !important;
        line-height: 1.33;
        
    } 
    .position_chat {
        position: fixed;
        bottom: 270px;
        right: 28px;
        display: none;
        z-index: 9999;
        
    }
	#chat_widget {
        zoom: 80% !important;
        height: 70vh !important;
        width: 420px !important;
    }
    /* New Css Ends here */
	
	.ml-100 {
		margin-left: 95px;
	}
	
	.p-viewport-devices {
		padding-left: 58px !important;
		/* margin-top: 0; */
		/* margin-left: 0; */
		padding-right: 20px !important;
		/* padding-bottom: 0; */
	}

	#main_card .w-h {
		width: 50px;
		height: 50px;
	}

	#main_card .w-h2 {
		width: 18px;
		height: 25px;
		cursor: pointer;
	}
	#main_card .w-h3 {
		width: 120px;
		/* height: 25px; */
		cursor: pointer;
	}
	#main_card .card h6 {
		color: #000;
		font-size: 18px;
		font-weight: 800;
		cursor: pointer;
	}
	#main_card .card p {
		font-size: 13px;
		font-weight: 400;
	}
	#main_card .card {
		border-radius: 15px;
	}
	.custom_yourprojects {
		margin-left: 20px;
		font-weight: 800;
		font-size: 16px;
	}

	canvas#myChart-1 {
		width: 100%;
		height: 200px !important;
		padding: 13px;
	}
	canvas#myChart-2 {
		width: 100%;
		height: 200px !important;
		padding: 13px;
	}
	#chart_card p {
		position: relative;
		top: 40px;
		left: 35px;
		font-weight: 600;
		font-size: 11px;
		color: #58508D;
	}
	.shadow_custom {
		box-shadow: 0.1rem 0.1rem 0.1rem 0.1px rgba(0, 0, 0, 0.15) !important;
	}
	.progress {
		width: 80%;
		margin-left: 0px;
	}
	.progress_scale {
		width: 80%;
		margin-left: auto;
	}
	.progress_span {
		position: relative;
		top: 0px;
		font-size: 16px;
		font-weight: 700;
	}
	.text_activity {
		color: #58508D ! important;
	}
	#carousal_cards .card-title {
		font-size: 14px;
		font-weight: 600;
		color: #000;
	}
	#carousal_cards .card-text {
		color: #000;
	}
	#carousal_cards .card-body {
		background-color: #FAF7F5;
	}
	#exercises_container p{
		font-size: 10px;
		color: #000;
	}
	#exercises_container img{
		width: 70px;
		height: 70px;
		font-weight: 600;
	}
	#exercises_container h6{
		font-size: 14px;
		font-weight: 700;
		margin-top: 9px;
	}
	#exercises_container {
		border-radius: 10px;
		/* box-shadow: 2px 2px 2px #333; */
	}
	/*+++++++++++++++ Ends here ++++++++++++++++++++++ */
	.d-hidden-425 {
		display: none;
	}
	.d-xxl-vis {
		display: block !important;
	}
	.d-xxl-hidd {
		display: none !important;
	}
	/* .container {
		max-width: 1350px;
	} */
	div.card {
		zoom: 80% !important;
	} 
	#recipe_container h4.heading {
		font-size: 22px;
		font-weight: 800;
	}
	.searchButton {
		position: relative;
		right: 0;
		color: white;
		float: right;
		width: 35px;
		height: 35px;
		border-radius: 50%;
		background: #ffa600;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 0.4s;
		border: none;
		/* z-index: 1 !important;  */
	}
	.searchInput {
		height: 32px;
		/* z-index: -10 !important;  */
		margin-right: -25px;
		border: none;
		background: none;
		outline: none;
		/* float: left; */
		padding: 0;
		color: white;
		font-size: 0.8rem;
		transition: 0.4s;
		line-height: 40px;
		width: 200px;
		border-radius: 40px;
		background: #fff;
	}
	#recipe_container .topBtn {
		color: #fff;
		font-size: 11px;
		font-weight: 700;
		padding: 2px;
		width: 160px;
		border-radius: 5px;
		background-color: #d3d3d3;
	}
	#details_container h6 {
		font-size: 13px;
		font-weight: 800;
		color: #000;
	}
	#details_container p {
		font-size: 11px;
		font-weight: 800;
		color: #58508d;
	}
	#social_btn {
		position: absolute;
		right: 70px;
		top: 0;
		background-color: #d3d3d3;
		padding: 3px;
		height: 30px;
		border-radius: 20px;
		width: 100px;
	}
	#scroll-container {
		height: 70vh;
		overflow-y: scroll;
	}

}

/* For xxl Devices */
@media (min-width: 1600px) {
	/* New Css */
    .overflow_container {
        width: inherit;
        height: inherit;
        overflow-y: scroll !important;
    }
    
    button.open-button {
		width: 80px !important;
        height: 80px !important;
        background-color:#58508D !important;
        padding: 10px 16px;
        border-radius: 80px !important;
        font-size: 24px;
        line-height: 1.33;
    }
    button.open-button img {
		width: 37px !important;
        height: 40px !important;
        line-height: 1.33;
        
    } 
    .position_chat {
        position: fixed;
        bottom: 270px;
        right: 28px;
        display: none;
        z-index: 9999;
        
    }
	#chat_widget {
        zoom: 90% !important;
        height: 70vh !important;
        width: 420px !important;
    }
    /* New Css Ends here */
	
	.ml-100 {
		margin-left: 250px;
	}
	
	.p-viewport-devices {
		padding-left: 48px !important;
		/* margin-top: 0; */
		/* margin-left: 0; */
		padding-right: 0 !important;
		/* padding-bottom: 0; */
	}

	#main_card .w-h {
		width: 50px;
		height: 50px;
	}

	#main_card .w-h2 {
		width: 18px;
		height: 25px;
		cursor: pointer;
	}
	#main_card .w-h3 {
		width: 80px;
		/* height: 25px; */
		cursor: pointer;
	}
	#main_card .card h6 {
		color: #000;
		font-size: 18px;
		font-weight: 800;
		cursor: pointer;
	}
	#main_card .card p {
		font-size: 13px;
		font-weight: 400;
	}
	#main_card .card {
		border-radius: 15px;
	}
	.custom_yourprojects {
		margin-left: 20px;
		font-weight: 800;
		font-size: 16px;
	}

	canvas#myChart-1 {
		width: 100%;
		height: 200px !important;
		padding: 13px;
	}
	canvas#myChart-2 {
		width: 100%;
		height: 200px !important;
		padding: 13px;
	}
	#chart_card p {
		position: relative;
		top: 40px;
		left: 35px;
		font-weight: 600;
		font-size: 11px;
		color: #58508D;
	}
	.shadow_custom {
		box-shadow: 0.1rem 0.1rem 0.1rem 0.1px rgba(0, 0, 0, 0.15) !important;
	}
	


	.progress {
		width: 80%;
		margin-left: 0px;
	}
	.progress_scale {
		width: 80%;
		margin-left: auto;
	}
	.progress_span {
		position: relative;
		top: 0px;
		font-size: 16px;
		font-weight: 700;
	}
	.text_activity {
		color: #58508D ! important;
	}
	#carousal_cards .card-title {
		font-size: 14px;
		font-weight: 600;
		color: #000;
	}
	#carousal_cards .card-text {
		color: #000;
	}
	#carousal_cards .card-body {
		background-color: #FAF7F5;
	}
	#exercises_container p{
		font-size: 10px;
		color: #000;
	}
	#exercises_container img{
		width: 70px;
		height: 70px;
		font-weight: 600;
	}
	#exercises_container h6{
		font-size: 14px;
		font-weight: 700;
		margin-top: 9px;
	}
	#exercises_container {
		border-radius: 10px;
		/* box-shadow: 2px 2px 2px #333; */
	}
	/*+++++++++++++++ Ends here ++++++++++++++++++++++ */
	.d-hidden-425 {
		display: none;
	}
	.d-xxl-vis {
		display: block !important;
	}
	.d-xxl-hidd {
		display: none !important;
	}
	/* .container {
		max-width: 1350px;
	} */
	div.card {
		zoom: 80% !important;
	} 
	#recipe_container h4.heading {
		font-size: 22px;
		font-weight: 800;
	}
	.searchButton {
		position: relative;
		right: 0;
		color: white;
		float: right;
		width: 35px;
		height: 35px;
		border-radius: 50%;
		background: #ffa600;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 0.4s;
		border: none;
		/* z-index: 1 !important;  */
	}
	.searchInput {
		height: 22px;
		/* z-index: -10 !important;  */
		margin-right: -25px;
		border: none;
		background: none;
		outline: none;
		/* float: left; */
		padding: 0;
		color: white;
		font-size: 0.6rem;
		transition: 0.4s;
		line-height: 40px;
		width: 120px;
		border-radius: 40px;
		background: #fff;
	}
	#recipe_container .topBtn {
		color: #fff;
		font-size: 11px;
		font-weight: 700;
		padding: 2px;
		width: 160px;
		border-radius: 5px;
		background-color: #d3d3d3;
	}
	#details_container h6 {
		font-size: 13px;
		font-weight: 800;
		color: #000;
	}
	#details_container p {
		font-size: 11px;
		font-weight: 800;
		color: #58508d;
	}
	#social_btn {
		position: absolute;
		right: 70px;
		top: 0;
		background-color: #d3d3d3;
		padding: 3px;
		height: 30px;
		border-radius: 20px;
		width: 100px;
	}
	#scroll-container {
		height: 70vh;
		overflow-y: scroll;
	}

}