


#recipe_container .sm_cont {background: #bc5090;height: 50px;}
#recipe_container .sm_cont_2 {background: #bc5090;height: 50px;}
#recipe_container .sm_cont img {padding: 8px;background-position: center;}
#recipe_container .sm_cont span {color: #fff;font-weight: bold;font-size: 18px;}
#lower_recipe h2 {color: #070940;font-size: 20px;font-weight: 900;text-align: justify;text-shadow: 1px 0 #070940;}
#lower_recipe p {color: #070940;font-size: 14px;font-weight: 500;text-align: justify;padding-left: 30px;}
.custom_para {font-size: 12px;font-weight:800;color:#333;}
.ingre_cl {font-size:22px;font-weight:600;color:#58508d;}












